body {
  margin: 0px;
  background-color: #33adff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#navbar-ul {
  position: fixed;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-li {
  float: left;
}

li a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

img {
  width: 100%;
  height: 50%;
}
#about {
  margin: auto;
  display: block;
  width: 40%;
  text-align: center;
}
#main {
  background-color: #b3e0ff;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 30px;
}
#BACHeader {
  font-size: 60px;
  font-style: italic;
}
#schedule, #pricing, #contact {
  margin-left: 50px;
}
#contact {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#main > table, tr, td, th {
  padding: 5px;
}
#footer {
  background-color: #008ae6;
}
#footer > table {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 5px;
  border-spacing: 5px;
  padding-bottom: 15px;
}